<div class="container-sign-up">
  <form [formGroup]="signUpFormGroup" (ngSubmit)="signUp()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Profile Picture</label>
      <input
        class="form-control"
        type="file"
        id="formFile"
        formControlName="profilePicture"
      />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
  </form>
</div>
